@use "variables";

.cardbody {
  border: 1px solid variables.$primary-color-darker;
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.card-title:hover {
  cursor: pointer;
}

.companytitle {
  height: 200px;
}

.card-upper {
  height: 125px;
  background-color: variables.$primary-color;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

.card-upper:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: variables.$primary-color-lighter;
}

.card-lower {
  height: 275px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card-lower-text {
  padding-top: 50px;
}
.card-image-container {
  position: absolute;
  top: 75px;
  right: 150px;
  width: 100px;
  height: 100px;
  background-color: white;

  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-image {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.card-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.weburl-row {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 50px;
}

.weburl-button {
  background-color: white;
  border: 1px solid variables.$button-border-color;
  border-radius: 5px;
  color: variables.$primary-color;
  min-width: 300px;
  padding-top: 10px;
  width: fit-content;
}

.weburl-button:hover {
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
}

.underline-text {
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      white 20%,
      variables.$primary-color,
      white 80%
    )
    5;
  font-size: 11px;
  color: variables.$primary-color;
}
