.cardbody {
  border: 1px solid rgba(34, 34, 50, 0.2666666667);
  border-radius: 10px;
  width: 400px;
  position: relative;
}

.card-title:hover {
  cursor: pointer;
}

.companytitle {
  height: 200px;
}

.card-upper {
  height: 125px;
  background-color: #222232;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: background-color 0.5s ease-in-out;
}

.card-upper:hover {
  transition: background-color 0.5s ease-in-out;
  background-color: #343447;
}

.card-lower {
  height: 275px;
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card-lower-text {
  padding-top: 50px;
}

.card-image-container {
  position: absolute;
  top: 75px;
  right: 150px;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-image {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.card-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.weburl-row {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 50px;
}

.weburl-button {
  background-color: white;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  color: #222232;
  min-width: 300px;
  padding-top: 10px;
  width: fit-content;
}

.weburl-button:hover {
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
}

.underline-text {
  border-top: 1px solid;
  border-image: linear-gradient(to right, white 20%, #222232, white 80%) 5;
  font-size: 11px;
  color: #222232;
}

.redborder {
  border: 1px solid red;
}

.dashboard-container {
  border: 1px solid rgba(5, 0, 53, 0.123);
  border-radius: 5px;
  width: 700px;
  height: 700px;
  background-color: white;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.322) 0px 15px 25px, rgba(0, 0, 0, 0.267) 0px 5px 10px;
}

.dashboard-title {
  margin-top: 20px;
  font-size: 20px;
}

.dashboard-body {
  height: 420px;
  margin: 20px 20px;
}

.background {
  display: flex;
  background-color: #222232;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid rgba(34, 34, 50, 0.2666666667);
  color: #642323;
  background-color: rgba(233, 233, 233, 0.842);
}

.warningmsg {
  font-size: 12px;
  color: #642323;
}

.align-right {
  display: flex;
  justify-content: right;
}

.align-left {
  display: flex;
  justify-content: left;
}

.align-center {
  display: flex;
  justify-content: center;
}

.myBtn2, .myBtn1 {
  background-color: white;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  color: #222232;
}

.myBtn2:hover, .myBtn1:hover {
  border: 1px solid black;
}

.myBtn1 {
  width: 100px;
  height: 40px;
}

.myBtn2 {
  width: 100px;
  height: 56px;
}

.logrow {
  text-align: center;
}

.logcontainer {
  height: 580px;
}

.logentry {
  margin: 10px;
  padding: 3px;
}

.logentry:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  cursor: default;
}

.logcolumns {
  margin: 10px;
  padding: 3px;
  cursor: default;
}

.stocksButton {
  color: white;
  background-color: #222232;
  border-radius: 20px;
}

.stocksButton:hover {
  cursor: pointer;
  background-color: #343447;
}

.nodataentry {
  color: #343447;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.navibar {
  margin-bottom: 10px;
  height: 30px;
  width: 40%;
}

.navitem-active, .navitem {
  text-align: center;
  margin: 10px;
  border-radius: 20px;
  user-select: none;
  cursor: pointer;
}

.navitem {
  color: white;
  border: 1px solid white;
}

.navitem:hover {
  background-color: #343447;
}

.navitem-active {
  color: #222232;
  background-color: white;
  border: 1px solid #343447;
}

/*# sourceMappingURL=App.css.map */
