@use "variables";

.logrow {
  text-align: center;
}

.logcontainer {
  height: 580px;
}

.logentry {
  margin: 10px;
  padding: 3px;
}

.logentry:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  cursor: default;
}

.logcolumns {
  margin: 10px;
  padding: 3px;
  cursor: default;
}

.stocksButton {
  color: white;
  background-color: variables.$primary-color;
  border-radius: variables.$border-round-radius-m;
}

.stocksButton:hover {
  cursor: pointer;
  background-color: variables.$primary-color-lighter;
}

.nodataentry {
  color: variables.$primary-color-lighter;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
