$primary-color: #222232;
$primary-color-darker: #22223244;
$primary-color-lighter: #343447;

$button-border-color: #c7c7c7;

$border-round-radius-s: 5px;
$border-round-radius-m: 10px;
$border-round-radius-m: 20px;

$red: #642323;
