.main-container {
  border: 1px solid rgba(5, 0, 53, 0.123);
  border-radius: 5px;
  width: 700px;
  height: 700px;

  background-color: #ffffff;
  justify-content: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.322) 0px 15px 25px,
    rgba(0, 0, 0, 0.267) 0px 5px 10px;
}

.myBtn1 {
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  color: black;
  width: 100px;
  height: 40px;
}

.myBtn1:hover {
  border: 1px solid black;
}

.myBtn2 {
  background-color: white;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  color: black;
  width: 100px;
  height: 56px;
}

.myBtn2:hover {
  border: 1px solid black;
}

.searchfield {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  width: 100%;
  height: 40px;
}

.searchfield:focus {
  outline: none;
}
.cardbody {
  border: 1px solid #22223244;
  border-radius: 10px;
  width: 400px;
  position: relative;
}
.card-upper {
  height: 125px;
  background-color: #222232;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card-lower {
  height: 275px;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card-lower-text {
  padding-top: 50px;
}
.card-image-container {
  position: absolute;
  top: 75px;
  right: 150px;
  width: 100px;
  height: 100px;
  background-color: white;

  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card-image {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.card-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.weburl-row {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  height: 50px;
}

.weburl-button {
  background-color: #ffffff;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 5px;
  color: #222232;
  min-width: 300px;
  padding-top: 10px;
  width: fit-content;
}

.weburl-button:hover {
  cursor: pointer;
  user-select: none;
  border: 1px solid black;
}

.underline-text {
  border-top: 1px solid;
  border-image: linear-gradient(to right, white 20%, #222232, white 80%) 5;
  font-size: 11px;
  color: #222232;
}

.c1 {
  text-align: right;
}

.hrhr1 {
  margin-top: 1px;
  background-image: linear-gradient(to right, white, rgb(0, 0, 0), white);
}

.cname:hover {
  cursor: pointer;
}

.align-right {
  display: flex;
  justify-content: right;
}

.align-left {
  display: flex;
  justify-content: left;
}

.background {
  display: flex;
  background-color: #222232;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.redborder {
  border: 1px solid red;
}

.main-container-body {
  height: 420px;
  margin: 20px 20px;
}

.parameters {
  height: 150px;
}

.myInput {
  width: 150px;
  text-align: center;
  border: solid 1px black;
  height: 40px;
  outline: none;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  border: 1px solid rgba(15, 96, 163, 0.123);
  color: rgb(97, 33, 33);
  background-color: rgba(218, 218, 218, 0.3647058824);
}

.warningmsg {
  font-size: 12px;
  color: rgb(97, 33, 33);
}

.navibar {
  margin-bottom: 10px;
  height: 30px;
  width: 40%;
}

.navitem {
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.336);
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.navitem:hover {
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.navitem-active {
  color: #222232;
  background-color: white;
  border: 1px solid rgba(255, 255, 255, 0.336);
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}

.logrow {
  text-align: center;
}

.logcontainer {
  height: 600px;
}

.logentry {
  margin: 20px;
}

.stocksButton {
  color: #ffffff;
  background-color: #222232;
  border-radius: 10px;
}

.stocksButton:hover {
  cursor: pointer;
  background-color: #35355c;
}

.nodataentry {
  color: #5f5f79;
}

.pagination-container {
  display: flex;
  justify-content: center;
}
